.container div {
    background-color: lightgrey;
    width: 80px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}
.container {
    background-color: blue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap:  wrap-reverse;
    justify-content: space-between;
    height: 400px;
    align-items: center;
}